a.follow-link-dailymotion { background-image: url(../images/icon-dailymotion.png); }
a.follow-link-googleplus  { background-image: url(../images/icon-googleplus.png); }
a.follow-link-viadeo      { background-image: url(../images/icon-viadeo.png); }

