.sebd7tweaks-gmap-processed { border: none; height: auto; margin: 0; padding: 0; width: 100%; }
.sebd7tweaks-gmap-processed legend { display: none; }
.sebd7tweaks-gmap-processed .google-map-field-setter-container { float: none; }
.sebd7tweaks-gmap-processed .google-map-field-fields-container { display: none; }
.sebd7tweaks-gmap-processed .google-map-field-setter-container input { display: none; }

